body{
    margin: auto;
    max-width: 1200px;
    font-family: Inter;
}

@font-face {
    font-family: Inter;
    src: url(material/Inter.ttf);
}

#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    left: 10px;
    right: 10px;
    top: 0px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#secondcontainer{
    display: flex;
    align-items: center;
}

#barky{
    width: 100px;
    margin-right: 10px;
}

#pil{
    object-fit: contain;
    height: 7px;
}

.leftnav{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.rightnav{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.getbarky{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
}

main{
    max-width: 1000px;
    margin: 100px auto;
}

#container-main-lr{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 100px;
}

#container-main-l h1{
    font-size: 36px;
}

#container-main-r img{
    width: 100%;
    text-align: center;
}

#container-main-l{
    text-align: left;
    width: 100%;
}

#container-main-l h1{
    font-size: 53px;
}

#bildrad{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#bildrad1 img{
    padding: 10px;
    width: 100px;
}

#bildrad2 img{
    padding: 10px;
    width: 100px;
}

#container-main-class{
    display: flex;
    flex-direction: column;
}

.h1bigpic{
margin-bottom: 0px;
}

.poverpic{
    margin-top: 0px;
}

.bigpic{
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
border-radius: 5px;
}

.punderpic{
    color: #7f7f7f;
    font-size: 26px;
    text-align: center;
    font-weight: 550;
}

.containerfacepic{
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 10px;
    justify-content: center;
}

.facepic{
    height: 50px;
    width: 50px;
    align-self: flex-start;
}

.h3facepic{
    font-size: 12px;
}

#facepicp{   
    font-size: 12px;
    color: #999999;
}