body{
    margin: auto;
    max-width: 1200px;
}

#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}

#secondcontainer{
    display: flex;
    align-items: center;
}

.leftnav{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.rightnav{
    text-decoration: none;
    color: black;
    border-right: 1px solid grey;
    padding: 10px;
}

main{
    max-width: 1000px;
    margin: auto;
}

#container-main-lr{
    display: flex;
    gap: 20px;
    align-items: center;

}

#container-main-r img{
    width: 100%;
    text-align: center;
}

#container-main-l{
    text-align: left;
    width: 100%;
}

#container-main-l h1{
    font-size: 53px;
}

#bildrad{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    flex-wrap: wrap;
}

#bildrad1 img{
    padding: 10px;
    width: 100px;
}

#bildrad2 img{
    padding: 10px;
    width: 100px;
}

#container-main-class{
    display: flex;
    flex-direction: column;
}

.h1bigpic{

}

.poverpic{

}

.bigpic{
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.punderpic{

}

.containerfacepic{
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 10px;
    justify-content: center;
}

.facepic{
    height: 100px;
    width: 100px;
    align-self: flex-start;
}

.h3facepic{
 
}
